@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #DE8421;
  --tertiary: #8421DE;
  --success: #21DE84;
  --warning: #DE3721;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2FA4D0;
    --foreground: #ededed;
    --secondary: #DE8421;
    --tertiary: #8421DE;
    --success: #21DE84;
    --warning: #DE3721;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", Arial, sans-serif;
}
