@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(180deg, #2697A3 0%, #C2BFC0 100%);
  --foreground: #171717;
  --secondary: #DE8421;
  --tertiary: #8421DE;
  --success: #21DE84;
  --warning: #DE3721;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #2697A3 0%, #C2BFC0 100%);
    --foreground: #ededed;
    --secondary: #DE8421;
    --tertiary: #8421DE;
    --success: #21DE84;
    --warning: #DE3721;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background) fixed no-repeat;
  font-family: "Montserrat", Arial, sans-serif;
}
