@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(180deg, #2697A3 0%, #C2BFC0 100%);
  --foreground: #171717;
  --secondary: #DE8421;
  --tertiary: linear-gradient(180deg, #8432F5 0%, #56BFE6 100%);
  --success: #21DE84;
  --warning: #DE3721;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #2697A3 0%, #C2BFC0 100%);
    --foreground: #ededed;
    --secondary: #DE8421;
    --tertiary: linear-gradient(180deg, #8432F5 0%, #56BFE6 100%);
    --success: #21DE84;
    --warning: #DE3721;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background) fixed no-repeat;
  font-family: "Montserrat", Arial, sans-serif;
  overflow-x: clip; /* Prevent horizontal scroll for task list display */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: white;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
